<a href="https://colab.research.google.com/github/allyelvis/Elvispro/blob/master/Copy_of_hotelmanagement.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# prompt: hotel management using php

// PHP code for hotel management system

// Database connection
$servername = "localhost";
$username = "username";
$password = "password";
$dbname = "hotel_management";

$conn = new mysqli($servername, $username, $password, $dbname);

// Check connection
if ($conn->connect_error) {
  die("Connection failed: " . $conn->connect_error);
}
sql = """CREATE TABLE guests (
  id INT(6) UNSIGNED AUTO_INCREMENT PRIMARY KEY,
  name VARCHAR(30) NOT NULL,
  email VARCHAR(50)
);
"""
  address VARCHAR(50),
  phone VARCHAR(15)"
);

if ($conn->query($sql) === TRUE):
  echo "Table guests created successfully";
} else {
  echo "Error creating table: " . $conn->error;
}

// Create a table for rooms
$sql = "CREATE TABLE rooms (
  id INT(6) UNSIGNED AUTO_INCREMENT PRIMARY KEY,
  room_number VARCHAR(10) NOT NULL,
  room_type VARCHAR(30) NOT NULL,
  price DECIMAL(10,2) NOT NULL,
  availability BOOLEAN NOT NULL
)";

if ($conn->query($sql) === TRUE) {
  echo "Table rooms created successfully";
} else {
  echo "Error creating table: " . $conn->error;
}

// Create a table for reservations
$sql = "CREATE TABLE reservations (
  id INT(6) UNSIGNED AUTO_INCREMENT PRIMARY KEY,
  guest_id INT(6) UNSIGNED NOT NULL,
  room_id INT(6) UNSIGNED NOT NULL,
  check_in_date DATE NOT NULL,
  check_out_date DATE NOT NULL,
  total_price DECIMAL(10,2) NOT NULL
)";

if ($conn->query($sql) === TRUE) {
  echo "Table reservations created successfully";
} else {
  echo "Error creating table: " . $conn->error;
}

// Insert data into the tables
$sql = "INSERT INTO guests (name, email, address, phone)
VALUES ('John Doe', 'john.doe@example.com', '123 Main Street', '555-123-4567')";

if ($conn->query($sql) === TRUE) {
  echo "New record created successfully";
} else {
  echo "Error: " . $sql . "<br>" . $conn->error;
}

// Close the connection
$conn->close();

SyntaxError: unterminated string literal (detected at line 24) (<ipython-input-3-0ecf97bdd619>, line 24)